{$API_DOMAIN} {
	@blockedActuator {
		path /actuator /actuator/* /actuator;*
		not expression `{http.request.orig_uri}.matches('^/actuator/health([?].*)?$')`
	}

	route {
		respond @blockedActuator "Not Found" 404
		reverse_proxy __APP_UPSTREAM__
	}
}
